In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vidhy\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\vidhy\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vidhy\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vidhy\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\vidhy\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\vidhy\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

import pandas as pd
data_file=("Cardiac_Outcomes.xlsx")
all_sheets=pd.read_excel(data_file,sheet_name=None)
#to access sheet by name in excel
Hospital_data=all_sheets['Hospitalization_Discharge']
Cardiac_data=all_sheets['CardiacComplications']
Response_data=all_sheets['Responsivenes']
Patient_data=all_sheets['PatientHistory']
lab_data=all_sheets['Labs']
Demography_data=all_sheets['Demography']
Patientpre_data=all_sheets['Patient_Precriptions']
print(data_file)

# 1) How many patients were registered in each unique occupation?

In [5]:
count=Demography_data["occupation"].value_counts()
print(count)

occupation
UrbanResident    1670
farmer            198
Others             89
worker             17
Officer             7
Name: count, dtype: int64

# 4) What percentage of patients had Biventricular heart failure?

In [6]:
total_patients=len(Cardiac_data['inpatient_number'])
bi_patients=(Cardiac_data['type_of_heart_failure']=='Both').sum()
percent= (bi_patients / total_patients) * 100
percentage = f"{percent:.2f}"
print("Percentage of Biventricular Patients", percentage)

Percentage of Biventricular Patients 73.71

# 54) For all non-negative integers that are also even numbers in the array [0,1,2,6,8] print i*i

In [7]:
array=[0,1,2,6,8]
for i in array:
  if i%2==0:
    print("Non Negative Even Number:",i,' ',i*i)

Non Negative Even Number: 0   0
Non Negative Even Number: 2   4
Non Negative Even Number: 6   36
Non Negative Even Number: 8   64

# 56) Using loc, retrieve the agegroup and weight between indices 101 and 201.

In [8]:
Demography_data.loc[101:201,['ageCat','weight']]

     ageCat  weight
101   69-79    41.0
102   79-89    64.0
103   79-89    61.0
104   79-89    40.0
105   69-79    73.0
..      ...     ...
197   79-89    50.0
198  89-110    50.0
199   69-79    50.0
200   59-69    63.0
201   69-79    60.0

[101 rows x 2 columns]